* {
  text-align: center;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/pexels-adrien-olichon-2387793.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1em;
  color: white;
  margin-bottom: 1.25em;
  letter-spacing: 1px;
  padding: 0 0.25em;
}

.search-label {
  font-family: Quicksand;
  font-size: 1.75rem;
  color: rgb(253, 51, 0);
  display: block;
  margin-bottom: 0.5em;
}

.search-input,
.search-btn {
  margin-bottom: 1em;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: #3c4043;
  display: inline-flex;
  font-family: Quicksand;
  font-size: 1rem;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  width: auto;
}

.search-btn {
  margin: 0 1em;
  margin-bottom: 2em;
  cursor: pointer;
  height: 40px;
}

button:hover {
  background: #114399;
  color: #ffffff;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  outline: none;
  border: 2px solid #ff009d;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgb(255, 0, 128);
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: rgb(255, 0, 128);
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.error {
  font-family: Quicksand;
  color: rgb(212, 0, 255);
  margin-top: 1em;
  font-size: 1.25rem;
}

.box {
  margin: 1em auto;
  background: #f0f0f0;
  padding: 1em;
  max-width: 700px;
  min-height: 200px;
  border-radius: 3px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
}

.upvotes {
  font-size: 1em;
  text-align: left;
  font-family: Quicksand;
  color: #ff3c00;
}

.author {
  font-size: 1em;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  color: rgb(0, 132, 255);
}

.title {
  font-size: 1.25em;
  text-align: center;
  font-family: Quicksand;
}

.images {
  width: 600px;
  height: auto;
  object-fit: contain;
}

.gallery {
  overflow: auto;
  white-space: nowrap;
}

.gallery-images {
  width: 600px;
  height: auto;
  object-fit: contain;
  margin: 0.5em;
}

.videos {
  width: 600px;
  height: auto;
  object-fit: contain;
}

@media only screen and (max-width: 720px) {
  h1 {
    font-family: Montserrat;
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 1em;
    color: white;
    margin-bottom: 1.25em;
    letter-spacing: 1px;
    padding: 0 0.5em;
  }

  .box {
    padding: 0.75em;
    max-width: 310px;
  }

  .images {
    width: 275px;
    min-height: auto;
  }

  .gallery-images {
    width: 275px;
  }

  .videos {
    width: 275px;
    min-height: auto;
  }
}
